<a href="https://colab.research.google.com/github/suhaassanga/2216114_AIML_BootCamp/blob/Suhaas-Sanga/AIML_BootCamp_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                     2216114  AIML BOOTCAMP ASSIGNMENT-01

1. Implement the methods of String with examples.

In [37]:
str='   sr University '
print(str)
print(str.lower())
print(str.upper())
print(str.capitalize())
print(str.swapcase())
print(str.title())
print(str.lstrip())
print(str.rstrip())
#indexing
print(str[:-1])
print(str[:3])
#slicing 
print(str[:4])

   sr University
   sr university
   SR UNIVERSITY
   sr university
   SR uNIVERSITY
   Sr University
sr University
   sr University
   sr University

   s

2. Implement the methods of List with examples.

In [72]:
list_1=[9,8,7,6,5]
list_2=['s','u','h','a','a','s']
list_3=[[6,7,8,9],"sru",22.097]
#indexing
print(list_1[2])
#slicing
print(list_2[1:3])
#nested list
print(list_3[0][3])
print(list_3[1][2])
print(list_3[1][1])

list_1.append(4)
print(list_1)

list_2.extend(['s','a','n','g','a'])
print(list_2)

list_3.insert(9,0.9)
print(list_3)

del list_3[2]
print(list_3)

del list_1[0:3]
print(list_1)

list_2.remove('a')
print(list_2)

list_1.pop()
print(list_1)

list_2.clear()
print(list_2)

print(list_3.count(3))

print(len(list_3))

print(list_3.reverse())

print(list_2.sort())

7
['u', 'h']
9
u
r
[9, 8, 7, 6, 5, 4]
['s', 'u', 'h', 'a', 'a', 's', 's', 'a', 'n', 'g', 'a']
[[6, 7, 8, 9], 'sru', 22.097, 0.9]
[[6, 7, 8, 9], 'sru', 0.9]
[6, 5, 4]
['s', 'u', 'h', 'a', 's', 's', 'a', 'n', 'g', 'a']
[6, 5]
[]
0
3
None
None

3. Implement the methods of Tuple with examples.

In [87]:
tuple_1=("Sr","2003A52132",11.999)
tuple_2=(0,1,2,3,4)
tuple_3=("Sr","University")
print(tuple_1.count("Sr"))
print(tuple_2.index(2))
print(min(tuple_3))
print(max(tuple_3))
print(len(tuple_1))
print(tuple_1[2])
print(tuple_2[-3])
print(tuple_3[-1][2])

1
2
Sr
University
3
11.999
2
i

4. Implement the methods of Dictionary with examples.

In [90]:
d={'Name':'SUHAAS SANGA','Phone':7993402600,'Address':'HNK','Qualification':'B.TECH','Branch':'CSE AIML'}
print(d["Branch"])
print(d.keys())
print(d.values())
print(d.get('Qualification'))
Name="SUHAAS SANGA"
Qualification="B.TECH"
Year=" 2ND year"
college="SRU"
print(Name,"is Qualification",Qualification,"in",college)
print("{} is Qualification {} {} in {}".format(Name,Qualification,Year,college))
print("{1} {2} {3} {0}".format(Name,Qualification,Year,college))
print("%s is Qualification %s %s in %s"%(Name,Qualification,Year,college))
print(f"{Name} currently pursuing her {Qualification} {Year} in {college}")

CSE AIML
dict_keys(['Name', 'Phone', 'Address', 'Qualification', 'Branch'])
dict_values(['SUHAAS SANGA', 7993402600, 'HNK', 'B.TECH', 'CSE AIML'])
B.TECH
SUHAAS SANGA is Qualification B.TECH in SRU
SUHAAS SANGA is Qualification B.TECH  2ND year in SRU
B.TECH  2ND year SRU SUHAAS SANGA
SUHAAS SANGA is Qualification B.TECH  2ND year in SRU
SUHAAS SANGA currently pursuing her B.TECH  2ND year in SRU

5. Implement the methods of Set with examples.

In [91]:
str={9,8,7,6,5}
str.add(4)
print(str)
str.update([3,2,1])
print(str)
str.remove(5)
print(str)
str.discard(4)
print(str)
str_1={4,5,1,2,9,10}

#intersection
print(str&str_1)
print(str.intersection(str_1))
print(str_1.intersection(str))

#difference
print(str-str_1)
print(str.difference(str_1))

#union
print(str|str_1)
print(str.union(str_1))
print(str_1.union(str))

{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 6, 7, 8, 9}
{1, 2, 9}
{1, 2, 9}
{1, 2, 9}
{8, 3, 6, 7}
{8, 3, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [94]:
n=int(input("ENTER A VALUE: "))
print(bin(n))
print(oct(n))
print(hex(n))

ENTER A VALUE: 9
0b1001
0o11
0x9

7. Implement Arithmetic operators with examples.

In [95]:
x=int(input("ENTER A VALUE: "))
y=int(input("ENTER A VALUE: "))
print(x+y)
print(abs(x-y))
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

ENTER A VALUE: 9
ENTER A VALUE: 5
14
4
45
1.8
4
59049
1

8. Implement Assignment operators with examples.

In [97]:
a=9
b=5

print(a)

a+=3
print(a)

a-=3
print(a)

a*=3
print(a)

a/=3
print(a)

a%=3
print(a)

b//=3
print(b)

b**=3
print(b)

9
12
9
27
9.0
0.0
1
1

9. Implement Comparison operators with examples.

In [98]:
p=999
q=99
print(p==q)
print(p!=q)
print(p>q)
print(p<q)
print(p>=q)
print(p<=q)

False
True
True
False
True
False

10. Implement Logical operators with examples.

In [99]:
p=999
q=99
print(p==99 and q==999)
print(p==99 or q==999)
print(not p==q)

False
False
True

11. Implement Bitwise operators with examples.

In [101]:
p=99
q=999
print(p==49 & q==95)
print(p&q)
print(p==95|q==49)
print(p&q)
print(p^q)
print(~p)
print(p>>6)
print(q<<9)

False
99
False
99
900
-100
1
511488

12. Implement Membership operators with examples.

In [103]:
str="Suhaas Sanga"
print(' ' in str)
print('S' in str)
print("ang" in str)
print('u' not in str)
print('haa' not in str)
print("sa" not in str)

True
True
True
False
False
True

13. Implement Identity operators with examples

In [105]:
p=999
q='999'
print(p is not q)
print(p is q)

True
False

14. Demonstrate Negative indexing for List and apply slicing.

In [107]:
Index=[99,88,77,66,55,44,33,'Suhaas']
#slicing
print(Index[4:])
print(Index[:])
print(Index[::-3])
print(Index[-3])
print(Index[-4])
print(Index[-5])

[55, 44, 33, 'Suhaas']
[99, 88, 77, 66, 55, 44, 33, 'Suhaas']
['Suhaas', 55, 88]
44
55
66

15. Predict the output for the given code snippet and justify the result.

print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
Here [::-1] means the string is reversing and [4::3] means string starts from 4th index with size of pointer as 3
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])
Here [3:10] the string starts from 3rd index and stops at 10th index and it will be reversed.

In [108]:
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
------------
ot emoc

16. Write a python code to get desired output
Input string : p_phrase = "was it a car or a cat I saw"
Output string : WAS I TAC A RO RAC A TI SAW

In [109]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[::-1])

WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 Input X= 2 Output ZZOOOO 
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [115]:
x=int(input("ENTER A VALUE="))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,a='')
x=int(input("ENTER A VALUE="))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,a='')

ENTER A VALUE=2
x= 2
y= 4
ZZOOOO
ENTER A VALUE=5
x= 5
y= 10
ZZZZZOOOOOOOOOO