<a href="https://colab.research.google.com/github/suhaassanga/2216114_AIML_BootCamp/blob/Suhaas-Sanga/Day2_practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


DAY- 02

In [3]:
#if loop
a=999
if a>99:
  print("a>99")
  print(a)

a>99
999

In [5]:
#if else statements
a=int(input("ENTER NUMBER: "))
if a>0:
  print("a is +ve")
  print(a)
else:
  print("a is -ve")
  print(a)

ENTER NUMBER: 30
a is +ve
30

In [9]:
#nested if statements
n = int(input("ENTER NUMBER: "))
if n < 200:
   print("numb is < 200")
   if n == 150:
      print ("Which is 150")
   elif n == 100:
      print ("numb=100")
   elif n == 50:
      print ("numb=50")
   elif n < 50:
      print("numb<50")
else:
   print(" ")

ENTER NUMBER: 199
numb is < 200

In [13]:
# for loop 
digit=[0,1,5]
for i in digit:
  print(i)
else:
  print("no digits")
print("\n")
for l in "SUHAAS":
  print("STR :",l)

0
1
5
no digits


STR : S
STR : U
STR : H
STR : A
STR : A
STR : S

In [10]:
#for loop 
num=[99,88,77,66,55,44,33,22,11]
sum=0
for val in num:
  sum+=val;
print("The sum is =",sum)
print("\n")
for i in range(1,10):
  print(i)
print("\n")
for i in range(1,10,2):
  print(i)

print("\n")
x=[99,88,77,33,22,11,66]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)

The sum is = 495


1
2
3
4
5
6
7
8
9


1
3
5
7
9


[88, 22, 66]

In [14]:
#Sequence indexing iteration
fruit=['apple','banana','grapes']
for index in range(len(fruit)):
  print("fruit: ",fruit[index])

fruit:  apple
fruit:  banana
fruit:  grapes

In [17]:
#while loop
a=1
while a<=99:
  print(a)
  a+=1
print("\n")
a=0
while a<5:
  print(a,"is < 5")
  a+=1
else:
  print(a,"!< 5")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99


0 is < 5
1 is < 5
2 is < 5
3 is < 5
4 is < 5
5 !< 5

In [22]:
#printing multiplication tables using while loop
n=int(input("ENTER VALUE OF N TO PRINT UPTO N: "))
i=1
while(i<=n):
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j+=1
  print("................................................................................................")
  i+=1

ENTER VALUE OF N TO PRINT UPTO N: 5
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
................................................................................................
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
................................................................................................
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
................................................................................................
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
................................................................................................
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
................................................................................................

In [25]:
#Control block statements
#break statement
for l in 'SUHAAS':
  if l=='U':
    break
  print("Letter:",l)
print("\n")
i=10
while(i>0):
  print("Position:",i)
  i=i-1
  if i==5:
    break

Letter: S


Position: 10
Position: 9
Position: 8
Position: 7
Position: 6

In [26]:
#continue statement
for l in 'SUHAAS':
  if l=='h':
    continue
  print("letter:",l)
i=10
while(i>0):
  print("current value:",i)
  i=i-1
  if i==5:
    continue

letter: S
letter: U
letter: H
letter: A
letter: A
letter: S
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [29]:
#pass argument
for l in 'SUHAAS':
  if l=='U':
    pass
  print("PASS")
  print("letter:",l)
print("\n")
i=10
while(i>0):
  print("position:",i)
  i=i-1
  if i==5:
    print("PASS")

PASS
letter: S
PASS
letter: U
PASS
letter: H
PASS
letter: A
PASS
letter: A
PASS
letter: S


position: 10
position: 9
position: 8
position: 7
position: 6
PASS
position: 5
position: 4
position: 3
position: 2
position: 1

In [31]:
#Palindrome string:
str1=input("Enter a string: ")
if(str1==str1[::-1]):
  print("\npalindrome")
else:
  print("not a palindrome")

Enter a string: MADAM

palindrome

In [33]:
#Printing even numbers in a string:
list=[99,88,77,66,55,44,33,22,11]
for i in range(len(list)):
  if(list[i]%2==0):
    print(list[i])

88
66
44
22

Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and”


Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]

Output: [“Finland”,”Ireland”]

In [34]:
Countries_list=["Finland","Germany","Sweden","Ireland","Turkey"]
l=[]
for i in Countries_list:
  if ("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

Write a python program that print respective grades of student:Grade – Outstanding  for marks>=90Grade A+ for marks >=80, <90Grade A for marks >=70, <80Grade B for marks >=60 and <70<60 Grade C

In [46]:
marks=int(input("Enter your marks="))
if(marks>=90):
  print("outstanding")
elif(marks >=80 & marks<90):
  print("grade A+")
elif( marks >=70and marks<90):
  print("grade A")
elif( marks >=60and marks<90):
  print("garde B")
else:
  print("garde C")

Enter your marks=90
outstanding

Create a list with name state list with 5 elements
State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Write a python program that extract first and last characters of each item and print in desired format.

Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Output: dItAgAaOkA

In [ ]:
list1= ["Delhi","Telangana","Goa","AP","Kerala"]
for i in range(len(list1)):
  str33=list1[i][0]
  str22=list1[i][-1] 
  print((str33+str22).swapcase())

dI
tA
gA
ap
kA

In [45]:
#user defined functions
def greet(name):
  print("Hello,\t"+name+"\tSR UNIVERSITY")
greet("SUHAAS SANGA")

Hello,	SUHAAS SANGA	SR UNIVERSITY

In [ ]:
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [ ]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [ ]:
#position
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [42]:
#arbitrary keyword
def key_arg(**kwargs):
  return kwargs
dict1=key_arg(Apples=99,oranges=88,grapes=77)
print(dict1['Apples'])
print(dict1)

99
{'Apples': 99, 'oranges': 88, 'grapes': 77}

In [40]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("I AM AN HIGHER ORDER FUNCTION")
  print(greet)
explain(shout)
explain(whisper)

I AM AN HIGHER ORDER FUNCTION
i am an higher order function

In [50]:
#lambda
def incr(x):
  x+=1
  return x
print(incr(99))
print((lambda x:x+1)(99))
res=lambda x:x+1
print(res(99))

100
100
100

In [38]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))
res=lambda x,y:x*y
print(res(2,3))

4
5
6

In [ ]:
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)


res_list1=list(map(lambda x:x+2,li))
print(res_list1)


print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [ ]:
def eod(num):
  if num%2==0 :
    return "The number {} is even".format(num)
  else :
    return "The number {} is odd".format(num)
eod(20)

li1=[1,2,3,4,5,6,7,8,9,10]
list(map(eod,li1))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even']

In [ ]:
li2=['apple','banana','grapes']
res=list(map(lambda x:x.capitalize(),li2))
print(res)

['Apple', 'Banana', 'Grapes']

In [ ]:
#filter
def odd_num(n):
  if(n%2!=0):
    return n
li3=[9,26,35,-2,50]
print(list(filter(odd_num,li3)))

[9, 35]

In [ ]:
li4=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,li4))
print(temp)

[18, 94, 16, 22, 56, 34]

In [53]:
#modules
import os
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

In [60]:
#math module
import math as m
print(m.e)
print(m.pi)
print(m.sqrt(999))
print(m.factorial(99))
print(m.pow(2,2))
print(m.floor(99.6))
print(m.tan(99))
print(m.log(99))

2.718281828459045
3.141592653589793
31.606961258558215
933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000
4.0
99
-25.092534979676547
4.59511985013459

In [61]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [62]:
#statistics module
import statistics as st
print(st.mean([21,29,34]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,1,1]))

28
3
1

In [63]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655217656.9326565
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=14, tm_min=40, tm_sec=56, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 14:40:56 2022
Tue Jun 14 14:40:56 2022
None

In [64]:
#random module
import random  as r
print(r.randrange(1,50))
print(r.randint(1,100))
print(r.random())

13
2
0.9206876516662915

In [66]:
import random as r
g_num=r.randint(0,5)
g1_num=int(input("Enter a number="))
if g1_num==g_num :
  print("you won")
else :
  print("you lost")

Enter a number=999
you lost

Write a python program that remove items that are multiples of 5 from list:li=[1,2,5,6,7,10,15,25,65,78,90]o/p: [1,2,6,7,78]

In [67]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-bf02a6a8047b>", line 2, in <module>
    res=list(filter(lambda x:x%5!=0,li))
TypeError: 'list' object is not callable

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

TypeError: ignored

Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’


Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]

Output: [“Apple”,”Avacado”,”Amla”]

In [75]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x[0]=='A',Fruit))
print(res)

Mssg=”Welcome to gradstellar bootcamp”
X=”number of occurrences of ‘o’ in mssg”

Y=”number of occurrences of ‘e’ in mssg”

Compute (X+Y)2

In [69]:
Mssg="Welcome to gradstellar bootcamp"
x=Mssg.count('o')
print(x)
y=Mssg.count('e')
print(y)
print("(x+y)^2=",x*x+y*y+2*x*y)

4
3
(x+y)^2= 49

Write python program that filters a list by removing the elements that not start with vowel.
I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]

O/P: [‘apple’,’orange’,’umbrella’]

In [73]:
list22=["apple","orange","grapes","ball","bat","umbrella"]
res=list(filter(lambda x:x[0] in 'AEIOUaeiou',list22))
print(res)

Write a python program that displays unique element in a given list using function
Li=[56,78,32,45,45,45,19,20]

O/P: [56,78,32,45,19,20]

In [78]:
List=[56,78,32,45,45,45,19,20]
def dup(d):
  n=[]
  for i in d:
    if i not in n:
      n.append(i)
  return n
dup(List)

[56, 78, 32, 45, 19, 20]